package textbox

templ textbox(p Props) {
<div hx-swap="outerHTML" hx-target="this">
  if p.editing {
  <form hx-post={ p.url }>
    <input name="input" autofocus value={ p.content } />
    <button type="submit">✅</button>
  </form>
  } else {
  <div>
    { p.content }
    <button hx-get={ p.url }>✏️</button>
  </div>
  }
</div>
}
